In [1]:
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import numpy as np
%matplotlib inline
import pandas as pd

In [2]:
mav_df= pd.read_excel('Downloads/mavoix_ml_sample_dataset.xlsx')

In [11]:
mav_df.head()

,Python (out of 3),R Programming (out of 3),Deep Learning (out of 3),PHP (out of 3),MySQL (out of 3),HTML (out of 3),CSS (out of 3),JavaScript (out of 3),AJAX (out of 3),Bootstrap (out of 3),...,Node.js (out of 3),ReactJS (out of 3),Other skills,Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10
0,0,2,0,2,0,2,3,2,0,2,...,0,0,R Programming,Bachelor of Science (B.Sc),Mathematics,2017,NaN,NaN,NaN,NaN
1,2,0,0,2,2,2,2,2,0,0,...,0,0,"Data Science, Machine Learning, Neural Network...",Bachelor of Technology (B.Tech),Computer Science & Engineering,2019,NaN,85.50/100,92.20/92.20,96.60/96.60
2,3,0,1,2,2,2,0,2,0,0,...,0,0,"Algorithms, Data Structures, Python, C Program...",Master of Science (M.Sc),Computer Science,2018,7.91/10,70.00/100,64.83/64.83,77.60/77.60
3,2,0,2,1,0,2,0,0,0,0,...,0,0,"CSS, Deep Learning, Embedded Systems, HTML, Ma...",Bachelor of Engineering (B.E),Electronics and Communication,2019,NaN,6.86/10,76.00/76.00,84.32/84.32
4,2,0,0,2,0,2,1,1,0,0,...,2,2,"HTML, OpenCV, Python, SQL, C++ Programming, CS...",Bachelor of Technology (B.Tech),Production Engineering,2018,NaN,6.38/10,65.20/65.20,68.80/68.80

In [3]:

print(mav_df.isnull().sum())

Application_ID                  0
Current City                    0
Python (out of 3)               0
R Programming (out of 3)        0
Deep Learning (out of 3)        0
PHP (out of 3)                  0
MySQL (out of 3)                0
HTML (out of 3)                 0
CSS (out of 3)                  0
JavaScript (out of 3)           0
Unnamed: 10                   392
AJAX (out of 3)                 0
Bootstrap (out of 3)            0
MongoDB (out of 3)              0
Node.js (out of 3)              0
ReactJS (out of 3)              0
Other skills                   14
Degree                         12
Stream                         18
Current Year Of Graduation      0
Performance_PG                289
Performance_UG                 54
Performance_12                163
Performance_10                177
dtype: int64

In [4]:
mav_df=mav_df.drop(['Application_ID','Current City','Unnamed: 10'],axis=1)
mav_df.columns

Index(['Python (out of 3)', 'R Programming (out of 3)',
       'Deep Learning (out of 3)', 'PHP (out of 3)', 'MySQL (out of 3)',
       'HTML (out of 3)', 'CSS (out of 3)', 'JavaScript (out of 3)',
       'AJAX (out of 3)', 'Bootstrap (out of 3)', 'MongoDB (out of 3)',
       'Node.js (out of 3)', 'ReactJS (out of 3)', 'Other skills', 'Degree',
       'Stream', 'Current Year Of Graduation', 'Performance_PG',
       'Performance_UG', 'Performance_12', 'Performance_10'],
      dtype='object')

In [5]:
mav_df.dtypes

def Encode(mav_df):
    for column in mav_df.columns[~mav_df.columns.isin([])]:
        mav_df[column] = mav_df[column].factorize()[0]
    return mav_df

In [6]:

mav = Encode(mav_df.copy())

In [7]:

print(mav.isnull().sum())
print(mav.dtypes)

Python (out of 3)             0
R Programming (out of 3)      0
Deep Learning (out of 3)      0
PHP (out of 3)                0
MySQL (out of 3)              0
HTML (out of 3)               0
CSS (out of 3)                0
JavaScript (out of 3)         0
AJAX (out of 3)               0
Bootstrap (out of 3)          0
MongoDB (out of 3)            0
Node.js (out of 3)            0
ReactJS (out of 3)            0
Other skills                  0
Degree                        0
Stream                        0
Current Year Of Graduation    0
Performance_PG                0
Performance_UG                0
Performance_12                0
Performance_10                0
dtype: int64
Python (out of 3)             int64
R Programming (out of 3)      int64
Deep Learning (out of 3)      int64
PHP (out of 3)                int64
MySQL (out of 3)              int64
HTML (out of 3)               int64
CSS (out of 3)                int64
JavaScript (out of 3)         int64
AJAX (out of 3)               int64
Bootstrap (out of 3)          int64
MongoDB (out of 3)            int64
Node.js (out of 3)            int64
ReactJS (out of 3)            int64
Other skills                  int64
Degree                        int64
Stream                        int64
Current Year Of Graduation    int64
Performance_PG                int64
Performance_UG                int64
Performance_12                int64
Performance_10                int64
dtype: object

In [8]:

kmeans = KMeans(n_clusters=2)
kmeans.fit(mav)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=2, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [9]:

centroids = kmeans.cluster_centers_
labels = kmeans.labels_

In [10]:
print(centroids)
print(labels)

[[1.07305936e+00 9.45205479e-01 4.74885845e-01 1.45662100e+00
  3.15068493e-01 1.04109589e+00 1.57534247e+00 1.05936073e+00
  1.36986301e-02 9.31506849e-01 2.73972603e-02 5.47945205e-02
  1.82648402e-01 2.35557078e+02 5.79452055e+00 1.75662100e+01
  2.96347032e+00 1.28082192e+01 9.17716895e+01 5.55388128e+01
  3.71141553e+01]
 [1.31213873e+00 8.72832370e-01 4.45086705e-01 1.53179191e+00
  2.83236994e-01 1.08670520e+00 1.61271676e+00 1.02890173e+00
  1.73410405e-02 9.82658960e-01 2.31213873e-02 4.62427746e-02
  2.31213873e-01 6.99190751e+01 4.59537572e+00 1.55375723e+01
  2.89017341e+00 2.45086705e+00 3.29884393e+01 2.08843931e+01
  1.51560694e+01]]
[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 0 1 1 0 1 0
 1 1 0 1 1 1 0 0 0 0 0 0 1 1 1 0 0 0 0 0 1 1 0 0 1 0 0 0 0 1 1 0 0 0 1 1 1
 0 0 0 1 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0
 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0]

In [12]:
y=mav['Stream']

In [14]:
pd.crosstab(y,labels)

col_0    0   1
Stream
-1       8  10
 0       1   5
 1      25  20
 2      44  20
 3      27  19
...     ..  ..
 73      1   0
 74      1   0
 75      1   0
 76      1   0
 77      1   0

[79 rows x 2 columns]

In [15]:
colmap=np.array(['Red','Blue','Green'])

In [19]:
from sklearn.metrics import confusion_matrix

In [20]:
confusion_matrix(y,labels)

array([[ 0,  8, 10, ...,  0,  0,  0],
       [ 0,  1,  5, ...,  0,  0,  0],
       [ 0, 25, 20, ...,  0,  0,  0],
       ...,
       [ 0,  1,  0, ...,  0,  0,  0],
       [ 0,  1,  0, ...,  0,  0,  0],
       [ 0,  1,  0, ...,  0,  0,  0]], dtype=int64)